body {
    font-family: 'Bai Jamjuree',sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}
.container {
    text-align: center;
    padding: 50px 20px;
    background: url("/images/bg-header-desktop.png") no-repeat;
}
.logo {
    margin-bottom: 20px;
    
}
.logo img {
    width: 80px;
}
h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 20px 0;
}
p {
    font-size: 1.1em;
    color: #666;
    margin: 20px 0;
}
.btn-group {
    margin: 30px 0;
}
.btn {
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-ios {
    background-color: #00c853;
    color: #fff;
}
.btn-ios:hover {
    background-color: #00b248;
}
.btn-mac {
    background-color: #6200ea;
    color: #fff;
}
.btn-mac:hover {
    background-color: #3700b3;
}
.feature-section {
    padding: 50px 20px;
    background-color: #fff;
}
.feature-section img {
    max-width: 100%;
    height: auto;
}
.feature-title{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}
.feature_down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}
.feature-text {
    max-width: 500px;
    text-align: center;
}
.feature-text h2 {
    font-size: 2em;
    /*font-weight: 500;*/
}
.feature-text p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 25px;
}
.workflow-section {
    padding: 50px 20px;
    background-color: #fff;

}
.workflow-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workflow-section h2 {

    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}
.workflow-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
}
.workflow-icon {
    text-align: center;
    max-width: 200px;
    margin: 20px;
}
.workflow-icon i {
    font-size: 2.5em;
    color: #00c853;
    margin-bottom: 10px;
}
.workflow-icon h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.workflow-icon p {
    font-size: 1em;
    color: #666;
}
.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
}
.partners img {
    max-width: 150px;
    margin: 20px;
}
.Clipboard {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.Snippets_points{
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 12% ;
    padding-right: 12%;
    background-color: #e0e0e0;
    border-top: 1px solid #e0e0e0;
}
.footer .logo {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.footer .logo img {
    width: 50px;
    height: 50px;
}
.footer .links {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.footer .links a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 16px;

}
.links_1{
    display: flex;
    justify-content: space-between;
}

.links_2 a{
    margin-right: 26.4%;
}
.footer .social-icons {
    display: flex;
    gap: 15px;
}
.footer .social-icons a {
    color: #4a4a4a;
    font-size: 20px;
    text-decoration: none;
}